# Practice Exercise: Importing data & Exploring data (manipulation)

## Context:
- The data is about NBA (National Basketball Association) games from 2004 season to Dec, 2020.
- We'll be focusing on practicing importing data and data manipulation techniques learned in the course. But the dataset is also popular to be used for predicting NBA games winners.
- We've made minor changes on the data to fit this exercise, such as changing the column names. Check out the original source if you are interested in using this data for other purposes (https://www.kaggle.com/nathanlauga/nba-games)

## Dataset Description:

We'll work on two datasets (in two separate csv files):

  - **games**: each game from 2004 season to Dec 2020, including information about the two teams in each game, and some details like number of points, etc
  - **teams**: information about each team played in the games
  
Assume we want to study the game level data, but with detailed information about each team. We'll need to combine these two datasets together.

## Objective: 
   - Load/examine/subset/rename/change dtypes of columns for each individual dataset
   - Combine them into a single dataset, and export it
   - Explore the final dataset by subsetting or sorting

### 1. Import the libraries

In [1]:
import pandas as pd

### 2. Load the data in `games.csv` as a DataFrame called `games`

Save the csv file under the same directory as the notebook if not typing the full path.

In [38]:
games = pd.read_csv('./games.csv')

### 3. Look at the first 5 rows of the DataFrame

In [4]:
games.head(5)

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

### 4. Look at the columns of the DataFrame

In [39]:
games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

### 5. Reassign `games` as its subset of the columns 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS'

We'll only keep some columns about the games

In [40]:
games = games[['GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS']]

### 6. Look at the new `games` DataFrame's first 5 rows, and info summary

In [23]:
from IPython.display import display
display(games.head())
display(games.info())

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  string
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), string(1)
memory usage: 1.3 MB

None

### 7. Convert `GAME_DATE` to a `datetime` dtype

In [7]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

### 8. Convert `GAME_STATUS_TEXT` to a `string` dtype

In [9]:
games['GAME_STATUS_TEXT'] =  games['GAME_STATUS_TEXT'].astype('string')

### 9. Look at the info summary of the DataFrame to verify the changes

In [18]:
def show_dataframe(df: pd.DataFrame):
    display(df.head())
    display(df.info())
    display(df.dtypes)

show_dataframe(games)

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_ID           23421 non-null  int64
 2   GAME_STATUS_TEXT  23421 non-null  string
 3   HOME_TEAM_ID      23421 non-null  int64
 4   VISITOR_TEAM_ID   23421 non-null  int64
 5   SEASON            23421 non-null  int64
 6   TEAM_ID_home      23421 non-null  int64
 7   POINTS_home       23421 non-null  int64
 8   FG_PCT_home       23421 non-null  float64
 9   FT_PCT_home       23421 non-null  float64
 10  FG3_PCT_home      23421 non-null  float64
 11  AST_home          23421 non-null  int64
 12  REB_home          23421 non-null  int64
 13  TEAM_ID_away      23421 non-null  int64
 14  POINTS_away       23421 non-null  int64
 15  FG_PCT_away       23421 non-null  float64
 16  FT_PCT_away       23421 non-null  float64
 17  FG3_PCT_away      23421 non-null  float64
 18  AST_away          23421 non-null  int64
 19  REB_away          23421 non-null  int64
 20  HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(13), string(1)
memory usage: 3.8 MB

None

GAME_DATE           datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            string
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
POINTS_home                  int64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                     int64
REB_home                     int64
TEAM_ID_away                 int64
POINTS_away                  int64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                     int64
REB_away                     int64
HOME_TEAM_WINS               int64
dtype: object

### 10. Load the data in `teams.csv` as a DataFrame called `teams`, and look at its first 5 rows, and its columns

In [37]:
teams = pd.read_csv('./teams.csv')
show_dataframe(teams)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

None

LEAGUE_ID               int64
TEAM_ID                 int64
MIN_YEAR                int64
MAX_YEAR                int64
ABBREVIATION           object
NICKNAME               object
YEARFOUNDED             int64
CITY                   object
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

### 11. Reassign `teams` as a subset of its columns 'TEAM_ID', 'CITY', 'NICKNAME', and look at its first 5 rows and info summary

We'll only keep some columns about the teams

In [43]:
teams = teams[['TEAM_ID', 'CITY', 'NICKNAME']]
show_dataframe(teams)

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     string
 2   NICKNAME  30 non-null     string
dtypes: int64(1), string(2)
memory usage: 852.0 bytes

None

TEAM_ID      int64
CITY        string
NICKNAME    string
dtype: object

### 12. Convert both columns `CITY` and `NICKNAME` to a `string` dtype

In [42]:
import typing

def convert_cols_to_strings(df: pd.DataFrame, columns: typing.List):
    for colname in columns:
        df[colname] = df[colname].astype('string')

convert_cols_to_strings(teams, ['CITY', 'NICKNAME'])

### 13. Verify the changes with the `dtypes` attribute

In [19]:
show_dataframe(teams)

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     string
 2   NICKNAME  30 non-null     string
dtypes: int64(1), string(2)
memory usage: 852.0 bytes

None

TEAM_ID      int64
CITY        string
NICKNAME    string
dtype: object

### 14. Print out the first two rows of `games` and `teams`, how can we combine them?

In [41]:
display(games.head())
display(teams.head())

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

*Hint:*

*Within the `games` DataFrame, there are two columns `TEAM_ID_home` and `TEAM_ID_away`. This is because each game involves two teams playing against each other. The team that played in its own location, is called the 'home' team, the team that played outside its location, is called the 'away' team. Each game has one 'home' team and one 'away' team.*

*While the `teams` DataFrame stores the information about each team, the identifier for each team is the column `TEAM_ID`.*

*We can merge the two DataFrames based on:*

- *`TEAM_ID_home` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'home' team*
- *`TEAM_ID_away` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'away' team*

### 15. Merge (inner) `games` and `teams` based on 'TEAM_ID_home' and 'TEAM_ID', call the merged DataFrame `games_with_home_team`

In [44]:
games_with_home_team = games.merge(teams, left_on='TEAM_ID_home', right_on='TEAM_ID')

### 16. Print out the first 5 rows of the new DataFrame

Since we used the column `TEAM_ID_home` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'home' team. 
So let's rename them.

In [50]:
show_dataframe(games_with_home_team)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic
2,2020-08-24,Final,1610612753,1610612749,106,121,0,1610612753,Orlando,Magic
3,2020-08-22,Final,1610612753,1610612749,107,121,0,1610612753,Orlando,Magic
4,2020-08-13,Final,1610612753,1610612740,133,127,1,1610612753,Orlando,Magic

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23421 entries, 0 to 23420
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
 7   TEAM_ID           23421 non-null  int64
 8   CITY              23421 non-null  string
 9   NICKNAME          23421 non-null  string
dtypes: int64(6), object(2), string(2)
memory usage: 2.0+ MB

None

GAME_DATE           object
GAME_STATUS_TEXT    object
TEAM_ID_home         int64
TEAM_ID_away         int64
POINTS_home          int64
POINTS_away          int64
HOME_TEAM_WINS       int64
TEAM_ID              int64
CITY                string
NICKNAME            string
dtype: object

### 17. Rename the column `CITY` as 'city_home', `NICKNAME` as 'nickname_home'

In [52]:
games_with_home_team.rename({'CITY': 'city_home', 'NICKNAME': 'nickname_home'}, axis=1, inplace=True)

### 18. Merge (inner) `games_with_home_team` and `teams` based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame `games_with_both_teams`

In [53]:
games_with_both = games_with_home_team.merge(teams, left_on='TEAM_ID_away', right_on='TEAM_ID')

### 19. Print out the first two rows of the new DataFrame

Since we used the column `TEAM_ID_away` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'away' team. 
So let's rename them.

In [55]:
games_with_both.rename({'CITY': 'city_away', 'NICKNAME': 'nickname_away'}, axis=1, inplace=True)

### 20. Rename the column `CITY` as 'city_away', `NICKNAME` as 'nickname_away'

### 21. Print out the first 5 rows of the new DataFrame

You probably have noticed that there are two columns called `TEAM_ID_x` and `TEAM_ID_y`. This is because we merged the DataFrame twice with the `teams` DataFrame. So the `TEAM_ID` column from `teams` is added twice to the merged DataFrame. 

To avoide duplicate column names, `pandas` added the suffixes of '_x' and '_y' to distinguish them. But due to inner joins, `TEAM_ID_x` is the same as `TEAM_ID_home`, and `TEAM_ID_y` is the same as `TEAM_ID_away`.

In [56]:
show_dataframe(games_with_both)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,city_away,nickname_away
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
2,2014-03-28,Final,1610612753,1610612766,110,105,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
3,2014-01-17,Final,1610612753,1610612766,101,111,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
4,2013-02-19,Final,1610612753,1610612766,92,105,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23421 entries, 0 to 23420
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
 7   TEAM_ID_x         23421 non-null  int64
 8   city_home         23421 non-null  string
 9   nickname_home     23421 non-null  string
 10  TEAM_ID_y         23421 non-null  int64
 11  city_away         23421 non-null  string
 12  nickname_away     23421 non-null  string
dtypes: int64(7), object(2), string(4)
memory usage: 2.5+ MB

None

GAME_DATE           object
GAME_STATUS_TEXT    object
TEAM_ID_home         int64
TEAM_ID_away         int64
POINTS_home          int64
POINTS_away          int64
HOME_TEAM_WINS       int64
TEAM_ID_x            int64
city_home           string
nickname_home       string
TEAM_ID_y            int64
city_away           string
nickname_away       string
dtype: object

### The team ID columns are not needed after the merge of the DataFrames. 

### The below code is provided to drop the columns 'TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y' from `games_with_both_teams`. We'll learn about this `drop` method in a later section

In [57]:
games_with_both_teams = games_with_both.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

### 22. Make a copy of `games_with_both_teams` and assign it as `games`

In [58]:
games = games_with_both_teams.copy()

### 23. Change the column names in `games` to all lowercase

In [60]:
games.columns = games.columns.str.lower()

### 24. Print out the columns of `games` to verify the changes

In [61]:
print(games.columns)

Index(['game_date', 'game_status_text', 'points_home', 'points_away',
       'home_team_wins', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

### 25. Print out the columns of `games_with_both_teams` to verify that the original DataFrame wasn't impacted by the copy

In [63]:
print(games_with_both_teams.columns)

Index(['GAME_DATE', 'GAME_STATUS_TEXT', 'POINTS_home', 'POINTS_away',
       'HOME_TEAM_WINS', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

### 26. Check the dimensionality  of `games`

In [64]:
games.shape

(23421, 9)

### 27. Export `games` as a csv file called 'games_transformed.csv', and open the csv file to look at it

Feel free to test the difference of the csv files with or without the argument `index=False`

In [65]:
games.to_csv('games_transformed.csv')

### 28. Select all the columns of 'number' dtypes from `games`

In [79]:
games.select_dtypes('number')

       points_home  points_away  home_team_wins
0              120          117               1
1              115          123               0
2              110          105               1
3              101          111               0
4               92          105               0
...            ...          ...             ...
23416          116          110               1
23417          110          100               1
23418          122           92               1
23419          119          113               1
23420           98           97               1

[23421 rows x 3 columns]

### 29. Select all the columns NOT of 'number' dtypes from `games`

In [80]:
games.select_dtypes(exclude='number')

,game_date,game_status_text,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,Orlando,Magic,Charlotte,Hornets
...,...,...,...,...,...,...
23416,2018-11-26,Final,Golden State,Warriors,Orlando,Magic
23417,2017-11-13,Final,Golden State,Warriors,Orlando,Magic
23418,2017-03-16,Final,Golden State,Warriors,Orlando,Magic
23419,2016-03-07,Final,Golden State,Warriors,Orlando,Magic
23420,2014-12-02,Final,Golden State,Warriors,Orlando,Magic

### 30. Print out the first 5 rows of `games` as a reference

In [81]:
games.head(5)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

### 31. Select the row with label 0

In [87]:
games.loc[0, :]
games['game_date'] = pd.to_datetime(games['game_date'])

### 32. Select the row with integer position 0

In [88]:
games.iloc[0, :]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

### 33. Set the column `game_date` as the index of DataFrame `games`

In [91]:
games.set_index('game_date', inplace=True)

### 34. Print out the index of `games` to verify the changes

In [92]:
print(games.index)

DatetimeIndex(['2020-12-19', '2020-12-17', '2014-03-28', '2014-01-17',
               '2013-02-19', '2013-01-18', '2012-04-25', '2012-01-17',
               '2011-04-01', '2011-02-27',
               ...
               '2007-12-03', '2007-01-10', '2006-03-01', '2004-12-10',
               '2004-03-17', '2018-11-26', '2017-11-13', '2017-03-16',
               '2016-03-07', '2014-12-02'],
              dtype='datetime64[ns]', name='game_date', length=23421, freq=None)

### 35. Select the rows with label '2020-12-18'

In [93]:
games.loc['2020-12-18']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

### 36. Select the rows with labels from '2020-12-18' to '2020-12-19'

In [94]:
games.loc['2020-12-18':'2020-12-19']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

### 37. Select the rows with labels of '2020-12-18' and '2019-12-18'

In [95]:
games.loc[['2020-12-18','2019-12-18']]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers
2019-12-18,Final,100,98,1,Cleveland,Cavaliers,Charlotte,Hornets
2019-12-18,Final,99,107,0,Minnesota,Timberwolves,New Orleans,Pelicans
2019-12-18,Final,99,112,0,Detroit,Pistons,Toronto,Raptors
2019-12-18,Final,104,108,0,Philadelphia,76ers,Miami,Heat
2019-12-18,Final,103,109,0,Dallas,Mavericks,Boston,Celtics
2019-12-18,Final,109,110,0,Washington,Wizards,Chicago,Bulls
2019-12-18,Final,126,122,1,Oklahoma City,Thunder,Memphis,Grizzlies
2019-12-18,Final,122,112,1,Portland,Trail Blazers,Golden State,Warriors
2019-12-18,Final,113,104,1,Denver,Nuggets,Orlando,Magic

### 38. Select the rows with `points_home` greater than 150

In [96]:
games[games['points_home'] > 150]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2010-03-16,Final,152,114,1,Phoenix,Suns,Minnesota,Timberwolves
2020-08-25,Final,154,111,1,Los Angeles,Clippers,Dallas,Mavericks
2006-12-27,Final,151,145,1,New York,Knicks,Detroit,Pistons
2019-11-30,Final,158,111,1,Houston,Rockets,Atlanta,Hawks
2008-03-16,Final,168,116,1,Denver,Nuggets,Oklahoma City,Thunder
2019-01-10,Final,154,147,1,San Antonio,Spurs,Oklahoma City,Thunder
2020-01-28,Final,151,131,1,Milwaukee,Bucks,Washington,Wizards
2020-01-26,Final,152,133,1,Atlanta,Hawks,Washington,Wizards
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns
2008-04-06,Final,151,147,1,Oklahoma City,Thunder,Denver,Nuggets

### 39. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1

In [98]:
games[(games['points_home'] > 150) & (games['home_team_wins'] != 1)]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns

### 40. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1, as well as the columns `home_team_wins` and `points_home`

In [107]:
games[(games['points_home'] > 150) & (games['home_team_wins'] != 1)][['home_team_wins', 'points_home']]

            home_team_wins  points_home
game_date
2019-03-01               0          161
2019-10-30               0          158
2006-12-07               0          157

### 41. Reset the index of `games` back to default and verify the changes

In [108]:
games.reset_index()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets
...,...,...,...,...,...,...,...,...,...
23416,2018-11-26,Final,116,110,1,Golden State,Warriors,Orlando,Magic
23417,2017-11-13,Final,110,100,1,Golden State,Warriors,Orlando,Magic
23418,2017-03-16,Final,122,92,1,Golden State,Warriors,Orlando,Magic
23419,2016-03-07,Final,119,113,1,Golden State,Warriors,Orlando,Magic
23420,2014-12-02,Final,98,97,1,Golden State,Warriors,Orlando,Magic

### 42. Add a new column called `points_total`, as the sum of columns `points_home` and `points_away`

In [109]:
games['points_total'] = games['points_home'] + games['points_away']

### 43. Verify the changes by printing out the three columns `points_home`, `points_away`, `points_total`

In [110]:
games[['points_away', 'points_home', 'points_total']]

            points_away  points_home  points_total
game_date
2020-12-19          117          120           237
2020-12-17          123          115           238
2014-03-28          105          110           215
2014-01-17          111          101           212
2013-02-19          105           92           197
...                 ...          ...           ...
2018-11-26          110          116           226
2017-11-13          100          110           210
2017-03-16           92          122           214
2016-03-07          113          119           232
2014-12-02           97           98           195

[23421 rows x 3 columns]

### 44. Print out the 3 rows with the largest `points_total` using the `nlargest` method

In [114]:
games.nlargest(3, 'points_total')

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
game_date,,,,,,,,,
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317

### 45. Sort the DataFrame `games` by its `points_total` column in ascending order

Don't forget to reassign the sorted result back to `games`

In [115]:
games = games.sort_values(by='points_total', ascending=True)

### 46. Print out the last 3 rows of the sorted DataFrame

Verify that it's the same three rows as the previous example (`nlargest`)

In [116]:
games.iloc[-3:]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
game_date,,,,,,,,,
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329

### 47. Given that the DataFrame is sorted by `points_total`, select the row with the smallest `points_total` using `iloc`

In [117]:
games.iloc[0]

game_status_text       Final
points_home               36
points_away               33
home_team_wins             1
city_home             Boston
nickname_home        Celtics
city_away           Brooklyn
nickname_away           Nets
points_total              69
Name: 2007-10-19 00:00:00, dtype: object

### 48. Select the rows with the second, and third smallest `points_total` using `iloc`

In [122]:
display(games.iloc[0:3])

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
game_date,,,,,,,,,
2007-10-19,Final,36,33,1,Boston,Celtics,Brooklyn,Nets,69
2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124

### 49. Select a subset including the first 4 rows, and the first 5 columns using `iloc`

In [126]:
games.iloc[:5, :6]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home
game_date,,,,,,
2007-10-19,Final,36,33,1,Boston,Celtics
2003-10-08,Final,62,58,1,Indiana,Pacers
2004-11-09,Final,64,60,1,Brooklyn,Nets
2005-03-13,Final,64,62,1,Detroit,Pistons
2003-11-01,Final,73,56,1,Minnesota,Timberwolves